In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("rating.csv")
df

        ID Department     Office  Rating
0    U2F26    Finance  New Delhi     3.4
1    U2M61  Marketing  New Delhi     3.9
2    U1S15      Sales  New Delhi     2.8
3    U1H87         HR     Mumbai     2.1
4    U1S51      Sales  New Delhi     4.6
..     ...        ...        ...     ...
528  U3S44      Sales  New Delhi     4.8
529  U2M11  Marketing  Bangalore     2.5
530  U3F53    Finance  Bangalore     3.2
531  U3S46      Sales  Bangalore     2.9
532  U3S28      Sales  New Delhi     2.9

[533 rows x 4 columns]

In [20]:
df["Training"]= df.Rating.apply(lambda x : "Yes" if x < 3.5 else "No")

In [18]:
rating=df
for i in ['Finance', 'HR', 'Sales', 'Marketing']:
    print(i, len(rating[(rating['Training'] == 'Yes') & (rating['Department'] == i)]) / len(rating[rating['Department'] == i]) * 100)

SyntaxError: invalid character in identifier (<ipython-input-18-a8c71437b39d>, line 3)

In [22]:
for i in ['Finance', 'HR', 'Sales', 'Marketing']:
    print(i,len(df[(df.Training == 'Yes') & (df.Department == i)])/len(df[df.Department == i]) * 100)

Finance 49.25373134328358
HR 38.93129770992366
Sales 46.92307692307692
Marketing 48.55072463768116

In [27]:
print("HR",len(df[(df['Training'] == 'Yes') & (df['Department'] == 'HR')]))
print("Fin",len(df[(df['Training'] == 'Yes') & (df['Department'] == 'Finance')]))
print("sales",len(df[(df['Training'] == 'Yes') & (df['Department'] == 'Sales')]))
print("market",len(df[(df['Training'] == 'Yes') & (df['Department'] == 'Marketing')]))

HR 51
Fin 66
sales 61
market 67