In [4]:
for n in range(1,20):
    flag = True
    for i in range(2,n):
        if n % i == 0:
            flag= False 
            break
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

In [9]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3=[]
for i in range(len(L2)):
    L3.append(L2[i] -L1[i])
L3

strt="raj"
strt.capitalize()

'Raj'

In [10]:
l = []
for i in range(-100,0):
    if(i%2==0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [11]:
list(range(0,-101,2))

[]

In [12]:
list(range(-100,-1,2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [13]:
sorted(set(range(-2,-101,-2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [16]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i,v in d.items():
    print(i,v)

0 Fish
1 Bird
2 Mammal

In [18]:
# using list comprehension
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3 = [L1[i]-L2[i] for i  in range(0,len(L1))]
L3

[2, 6, 15, 4, 8]

In [19]:
import ast, sys
n = int(input())
final_list = [n**2 for n in range(1,n+1)]
print(final_list)

7
[1, 4, 9, 16, 25, 36, 49]

In [20]:
#Using dictionary comprehension
updated_dict = {i:i**2 for i in range(2,21 ) if i%2 ==0}
updated_dict

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [40]:
input_list= ["word","eeee"]

final=[word for word in input_list if word[0].lower() in 'aeiou']
print(final)

['eeee']

In [29]:
str1= ["word","aiio"]
for i in str1:
    if i.startswith(('a','e') ):
        print("vowel")

vowel

In [41]:
input_list = list(range(1,100))
output_dict = {}
for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [3]:
input_list = list(range(1,100))
output_dict= [val:val**3 for val in input_list if val%3=0]

SyntaxError: invalid syntax (<ipython-input-3-e14a5f4132a9>, line 2)

In [4]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [5]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [6]:
def func(x,y =1):
    z = x*y + x + y
    return z

func(2,func(3))

23

In [8]:
a=10
b=11
greater = lambda x,y : x if (x>y) else y
print(greater(a,b))

11

In [9]:
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

In [10]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [11]:
def func(x,y):
    z = x*y + x + y
    return z

func(2,func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [12]:
def func(x=1 ,y=2):
    z = x*y + x + y
    return z

func(2,func(3))

35

In [14]:
L1 =  [2,7,8,10,3]

def func(y):
    return  y ** 2 - 2*y - 2

ans_list = [func(x) for x in L1]
ans_list

[-2, 33, 46, 78, 1]

In [15]:
def multi(x):
    return x*2
list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [16]:
from functools import reduce
list_1 = ['harshit','aman']
reduce(lambda x,y: x + y,list_1)

'harshitaman'

In [54]:
input_list=['Santa Cruz','Santa fe','Mumbai','Delhi']



    
converter = lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)

input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
sum(map(lambda x: x[0] in 'Ss', input_list))

3