In [3]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

In [14]:
import ast
c=input("enter the number")
print(type(c))
d=ast.literal_eval(c)
print(type(d))
dictionary = ast.literal_eval("{'a': 1, 'b': 2}")
l1="[1,2,3]"
number = ast.literal_eval("1")
print (type(dictionary))
print(type(number))
print(type(l1))

enter the number3
<class 'str'>
<class 'int'>
<class 'dict'>
<class 'int'>
<class 'str'>

In [6]:
import ast
dictionary = "{'a': 1, 'b': 2}"
number = "1"
print (type(dictionary))
print(type(number))

<class 'str'>
<class 'str'>

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [16]:
# Type your code here

print(sorted(Employee_data.values()))
print(max(Employee_data.values()))
print(len(Employee_data))
Employee_data[104]=27
Employee_data[140]=27
Employee_data[164]=27
del Employee_data[143]
mean=sum(Employee_data.values())/len(Employee_data)
print(mean)
print(Employee_data[140])

[20, 20, 22, 22, 22, 23, 23, 23, 23, 23, 24, 24, 24, 25, 25, 25, 25, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 31, 33, 33, 34, 34, 34, 35, 36, 37, 37, 38, 39, 39, 40, 42, 42, 42, 42, 42, 43, 43, 43, 43, 44, 45, 45, 45, 45]
45
75
31.08108108108108
27

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [ ]:
# Type your code here

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [ ]:
# Type your code here

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [ ]:
# Type your code here

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [24]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [ ]:
# Type your code 
a=10
b=16
c=20
if(***missing part1****):
    print("a")
elif(*****missing part 2*****):
    print("b")
else:
     print("c")